/*@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css')*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "runescape", system-ui, sans-serif;
  }

    .rs {
        color: #f8fe08
    }


    .tile-card-image {
      width: 100%;
      height: 100%;
      object-fit: contain; /* or "contain" */
    }

    .grid-item {
      width: 100%;
      object-fit: contain; /* or "contain" */
    }

    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }

    .htmx-request .htmx-indicator{
        opacity:1
    }

    .htmx-request.htmx-indicator{
        opacity:1
    }
}

@font-face {
  font-family: 'runescape';
  src: url('/fonts/runescape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(90px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-90px);
    }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
.sample-transition {
    view-transition-name: slide-it;
}
